.grid-container {
  display: block;
  margin: auto;
  width: 80%;
  border: 3px solid rgb(114, 113, 113);
  padding: 10px;
  background-color: rgba(252, 248, 248, 0.6);
  margin-bottom: 30px;
}

.grid {
	--gap: 16px;
	--num-cols: 6;
	--row-height: 200px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	/* grid-auto-rows: var(--row-height); */
	gap: var(--gap);
  /* background-color: gray; */
}


.img-contain img{
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
  min-width: 100%;
}
.img-contain p {
  text-align: center;
  border: 1px solid gray;
  background-color: beige;
  color: black;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  margin-top: 0;
  margin-bottom: 0px;
}

@media screen and (max-width: 800px) {
  /* .grid {
    --num-cols: 2;
  } */
  .grid-container {
    width: 70%;
  }
  .img-contain p {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    --num-cols: 4;
  }
  .grid-container {
    width: 80%;
  }
}
