@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
@import url("fontawesome-all.min.css");


body {
  margin: 0;
  background-image: url("../images/AI-bg.jpg");
  background-size: cover;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  padding: 0;
  font-size: 13pt;
  color: rgba(255, 255, 255, 0.6);
}



.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  color: black;
}

.family-mission-text {
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  /* margin-block-start: 2em; */
}
