@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
@import url("fontawesome-all.min.css");


body {
  margin: 0;
  background-image: url("../images/event1.jpg");
  background-size: cover;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  padding: 0;
  font-size: 13pt;
  color: rgba(255, 255, 255, 0.6);
}



.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  color: black;
}

.mission-text {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  /* background-color: rgba(71, 70, 70, 0.7); */
  color: black;
  font-weight: bold;
  margin-bottom: -20px;
  /* margin-block-start: 2em; */
}

.warning-text {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;
  /* margin-block-start: 2em; */
}
