/* default just in case */
* {
  --topColumns: 8;
  --mainColumns: 4;
}

body {
  color: black;
  font-family: Arial;
  text-align: center;
  background-color: beige;
}
header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 50px;
  background-color: rgb(240 192 148);
  color: black;
  margin-bottom: 15px;
  align-items: center;
}

header #left {
  text-align: left;
  padding-left: 5px;
}

.hui-logo {
  width: 40px;
  padding-left: 20px;
}

header #middle {
  text-align: center;
  font-weight: bold;
}

header #right {
  text-align: left;
  padding-left: 5px;
}

#note-text {
  margin-left: 20%;
  margin-right: 20%;
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 3px;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

#top-text {
  margin: auto;
  text-align: center;
}

#top-text P {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  padding: 5px;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

#grid-top-container,
#grid-main-container {
  display: grid;
  grid-template-columns: repeat(var(--topColumns), 1fr);
  grid-template-rows: minmax(200px, auto);
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

#grid-main-container {
  grid-template-columns: repeat(var(--mainColumns), 1fr);
}

.img-frame img {
  padding: 0px; /* img-frame area */
  border: 1px solid black;
  background-color: white;
  width: 100%;
  box-sizing: border-box; /*important to keep image within container by including padding and border in width calculation*/
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.img-frame p {
  padding: 2px;
  background-color: beige;
  color: black;
  font-size: 13px;
  border: 1px solid black;
  margin: auto;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  * {
    --topColumns: 4;
    --mainColumns: 1;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  * {
    --topColumns: 5;
    --mainColumns: 2;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  * {
    --topColumns: 6;
    --mainColumns: 3;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  * {
    --topColumns: 7;
    --mainColumns: 4;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  * {
    --topColumns: 8;
    --mainColumns: 5;
  }
}
