.grid-container {
  margin: auto;
  width: 60%;
  border: 3px solid rgb(114, 113, 113);
  padding: 10px;
  background-color: rgba(252, 248, 248, 0.2);
  margin-bottom: 30px;
}

.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  align-items: start;
  margin: auto;
  }
.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}
.grid p {
  text-align: center;
  border: 1px solid gray;
  background-color: beige;
  color: black;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  margin-top: 0;
  margin-bottom: 0px;
}

