@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
@import url("fontawesome-all.min.css");

body {
  margin: 0;
  background-image: url("../images/mountains.jpg");
  background-size: cover;

  font-family: 'Source Sans Pro';
  font-weight: 400;
  padding: 0;
  font-size: 13pt;
  color: rgba(255, 255, 255, 0.6);
}


.family-mission-text {
  margin-block-start: 120px;
}

.event-text {
  margin: auto;
  font-weight: bold;
  margin-block-start: 60px;
}

.chinese-names-text {
  margin: auto;
  font-weight: bold;
  margin-block-start: 120px;
}

.family-mission-text,
.event-text,
.chinese-names-text {
  color: black;
  margin-left: 30%;
  margin-right: 30%;
  background-color: rgba(255, 255, 255, 0.4);
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

@media screen and (max-width: 800px) {
  .family-mission-text,
  .event-text {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 600px) {
  .family-mission-text,
  .event-text {
    margin-left: 5%;
    margin-right: 5%;
  }
}
