
.header {
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: rgb(3, 165, 194);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(3, 165, 194);
  
}

.left-section {
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.MFSP-logo {
  height: 90%;
  padding-left: 20px;
  padding-top: 1px;
}

.middle-section {
  flex: 1;
  /* margin-left: 20px;
  margin-right: 20px; */
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(83, 62, 2);
  justify-content: center;
}

.middle-section p {
  font-size: 5vmin;
  font-weight: bold;
  height: fit-content;
  color: rgb(3, 3, 82);
}

.right-section {
  width: 35%;
  /* margin-right: 20px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  flex-shrink: 0;
  padding: 10px;
}

.buttons {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
  font-weight: 550;
}

#trading-button, #c-schwab-button {
  background-image: linear-gradient(to bottom, #fff, transparent);
  background-color: lightblue;
  color: blue;
  border: 1px solid lightblue;
  margin-right: 5px
}

#trading-button:hover,
#c-schwab-button:hover {
  background-color: rgb(115, 151, 252);
}


