.header {
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: rgb(1, 22, 82);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
}

.left-section {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.middle-section {
  flex: 1;
  /* margin-left: 20px;
  margin-right: 20px; */
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.middle-section p {
  font-size: 5vmin;
  color: beige;
  font-weight: bold;
  height: fit-content;
}

.right-section {
  width: 20%;
  /* margin-right: 20px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  flex-shrink: 0;
}
